body {
            background-color: #0000000
          ;
        }
        .container {
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            background-color: #ffffff;
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;
        }
        .btn-custom-color {
            background-color: #5ce1e6;
            border-color: #5ce1e6;
            color: #000;
        }
        .btn-custom-color:hover {
            background-color: #4ab8bd;
            border-color: #4ab8bd;
            color: #000;
        }
        .hero-section {
            position: relative;
            text-align: center;
            color: black;
        }
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(92, 225, 230, 0.8);
            padding: 20px;
            border-radius: 10px;
            width: 90%;
        }
        .hero-image {
            width: 100%;
            height: auto;
            max-height: 50vh;
            object-fit: cover;
        }
        .advantage-icon {
            max-width: 80px;
        }

/* Estilo para a prévia da imagem de perfil */
#image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #dee2e6;
}

/* Estilos para os requisitos da senha */
#password-requirements li.valid {
    color: green;
    text-decoration: line-through;
}

#password-requirements li.invalid {
    color: #6c757d;
    text-decoration: none;
}
